{% include 'adminheader.html' %}

<div style="height: 800px;background-image: url(/static/assets/img/bus.jpg);padding: 50px;background-repeat: no-repeat;background-position: center;background-size: cover;">
 <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="/static/assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">  


<center>
	<form method="post" style="height: auto" enctype="multipart/form-data">




		<br><br><br><br>
		<h1>Notification</h1>
		<table class="table" style="    width: auto;">
			<tr>
				
				<th>Driver Name</th>
                <th>Details</th>
				<th>Date</th>
			
				

			</tr>
			{% for row in data['driver_noti']%}
			<tr>
			
				<td>{{row['firstname']}} {{row['lastname']}}</td>
				<td>{{row['details']}}</td>
				<td>{{row['date']}}</td>
			
				
				
			</tr>
			{% endfor%}
		</table>

</form>
</center>
          </div></div></div></section>

</div>
{% include 'footer.html' %}
