{% include 'adminheader.html' %}

 <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="/static/assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">  


<center>
	<form method="post" style="height: auto" enctype="multipart/form-data">




		<br><br><br><br>
		<h1 style="">Track Bus</h1>
		<table class="table" style="    width: auto;">
		<table class="table" style="width:700px;color: black">
			<tr>
			
				<th>Location</th>
				<th>Location Date</th>
				<th>Location Time</th>

				
			</tr>
			<tr>
				{% for row in data['view']%}
				
			
 <td><a class="btn btn-primary" href="http://www.google.com/maps?q={{ row['latitude'] }},{{ row['longitude'] }}">Click Me</a></td>
				<td>
				<td>{{row['location_date']}}</td>
				<td>{{row['location_time']}}</td>
			</tr>
			{% endfor%}
		</table>

</form>
</center>
          </div></div></div></section>


{% include 'footer.html' %}
