{% include 'adminheader.html' %}

 <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="/static/assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">  


<center>
	<form method="post" style="height: auto" enctype="multipart/form-data">
		<br><br><br><br><br>	




		<br><br><br><br>
		<h1 style="">View Student</h1>
		<table class="table" style="    width: auto;">
			<tr>
				
				<th>Student Name</th>

				<th>Batch</th>
				<th>Phone</th>
				<th>Gender</th>
				<th>Photo</th>

			</tr>
		

			{% for row in data['student']%}
			<tr>
			
				<td>{{row['fname']}} {{row['lname']}}</td>
				<td>{{row['batch']}}</td>
				<td>{{row['phone']}}</td>
				<td>{{row['gender']}}</td>
				<td><img src="/{{row['photo']}}" height="100" width="100"></td>
				<td>
				<a class="btn btn-warning" href="adminviewattendance?mid={{row['student_id']}}">view attendance</a></td>
				
			</tr>
			{% endfor%}
		</table>

</form>
</center>
          </div></div></div></section>


{% include 'footer.html' %}
