{% include 'publicheader.html' %}

<main id="main">

  
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="/static/assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">        


                   
                            <br><br><br><br><br>       
              	<form method="post">
		<center>
			<h3 style="color: black">LOGIN</h3>
			<table class="table" style="width: 500px;color: black">
				<tr>
					<th >Username</th>
					<td><input type="text" name="un" class="form-control" required></td>
				</tr>
				<tr>
					<th >Password</th>
					<td><input type="password" name="pa"  class="form-control" required></td>
				</tr>
				<tr>
					<td colspan="2" align="center"><input type="submit" name="login" value="LOGIN" class="btn btn-success"></td>
				</tr>
			
			</table>
		</center>
	</form>
 
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

  

  </main><!-- End #main -->
								

{% include'footer.html' %}