<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bustrack">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/buslogo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/buslogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.BusTrack"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Student_profile"
            android:exported="false" />
        <activity
            android:name=".Student_qr_details"
            android:exported="false" />
        <activity
            android:name=".Parent_view_attendance"
            android:exported="false" />
        <activity
            android:name=".Parent_home"
            android:exported="false" />
        <activity
            android:name=".Student_registration"
            android:exported="false" />
        <activity
            android:name=".Student_view_notification"
            android:exported="false" />
        <activity
            android:name=".Driver_notification"
            android:exported="false" />
        <activity
            android:name=".Driver_view_attendance"
            android:exported="false" />
        <activity
            android:name=".Driver_send_reply"
            android:exported="false" />
        <activity
            android:name=".Driver_view_late_request"
            android:exported="false" />
        <activity
            android:name=".Student_late_information"
            android:exported="false" />
        <activity
            android:name=".Student_view_driver_details"
            android:exported="false" />
        <activity
            android:name=".View_my_qr"
            android:exported="false" />
        <activity android:name=".App_rating" />
        <activity android:name=".Studentviewseats" />
        <activity android:name=".Studentviewamount" />
        <activity android:name=".Studentviewbus" />
        <activity android:name=".Usermakepayment" />
        <activity android:name=".AndroidBarcodeQrExample" />
        <activity android:name=".Driverviewstudentdetails" />
        <activity android:name=".Studenthome" />
        <activity android:name=".Login" />
        <activity android:name=".Userhome" />
        <activity android:name=".Ipsettings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <service android:name=".LocationService" />
        <service android:name=".SocialDistanceAlert" />
    </application>

</manifest>